
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_MasterLayout.cshtml";
}

<h2>Dashboard</h2>
<div class="row" style="padding-right:0px;margin-right:0px">
    <div class="col-md-3">
        <div class="infbox success"> <h1><strong>€1.500</strong></h1>
        <h5>Introiti</h5>
        </div>
    </div>
    <div class="col-md-3">
        <div class="infbox info">
            <h1><strong>1780</strong></h1>
            <h5>Prodotti venduti</h5>
        </div>
    </div>
    <div class="col-md-3">
        <div class="infbox danger">
            <h1><strong>43</strong></h1>
            <h5>Ordini in sospeso</h5>
        </div>
    </div>
    <div class="col-md-3">
        <div class="infbox alert">
            <h1><strong>43</strong></h1>
            <h5>Nuovi ordini</h5>
        </div>
    </div>
</div>
<br />
<h2>Utenti</h2>
<div class="row">
    <div class="col-md-12">
        @Html.Action("GetUserList","User")
    </div>
</div>
